.modal {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    padding: 0 19px
}

.modal__heading {
    color:black;
    margin: 0;
    padding-bottom: 54px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal_opened {
    visibility: visible;
    opacity: 1;
}

.modal__container {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
    height: 330px;
    width: 430px;
    padding: 48px 36px 36px 36px;
    box-sizing: border-box;
}

.modal__input {
    margin: 0 0 29px 0;
    border: none;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    width: 358px;
    color: black;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.modal__save{
    font-family: "Inter", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 125px 15px 125px;
    margin-top: 24px;
    line-height: 22px;
    border: none;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 2px;
}

.modal__save:hover{
    opacity: 0.6;
}

.modal__close {
    background-image: url(../images/close.svg);
    position: absolute;
    border: none;
    background-color: transparent;
    top: -45px;
    right: -45px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease;
}

.modal__close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 480px) {
    .modal__heading {
        padding-bottom: 75px;
        font-family: "Inter", Arial, sans-serif;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
    
    .modal__save {
        font-family: "Inter", Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 15px 22px;
        width: 100%;
        margin: 0 auto;
    }

    .modal__container {
        border: 1px;
        width: 282px;
        height: 322px;
    }

    .modal__input {
        width: 100%;
    }

    .modal__close {
        left: 242px;
        width: 26px;
        position: absolute;
    }

}