.page {
  background-color: black;
  color: white;
  font-family: "Inter", Arial, sans-serif;
}

.page__content {
  min-height: 100vh;
  max-width: 880px;
  margin: 0 auto;
  flex-direction: column;
}

.page__section {
  width: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 880px;
}

@media screen and (max-width: 480px) {
  .page__content {
    max-width: 480px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    max-width: 320px;
  }
}